.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--white);
  padding: var(--spacing-md) 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-lg);
  width: 100%;
  max-width: 800px;
  padding: 0 var(--spacing-lg);
}

.header-home-link {
  display: inline-block;
  cursor: pointer;
}

.header-icon {
  width: 50px;
  height: 50px;
}

.header h1 {
  color: var(--primary-color);
}

.header-left {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.header-right {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: var(--fs-sm);
  color: var(--gray);
}

.header-right p {
  color: var(--dark-gray);
}

.header-right a {
  color: var(--gray);
  text-decoration: none;
}

.header-right a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.header-right-separator {
  color: var(--gray);
}
